@page
@model StuttgartCore.Pages.modul07.RechPos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Positionen[0].Anzahl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positionen[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Positionen[0].Preis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Positionen) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anzahl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preis)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
